*{
    padding: 0;
    margin: 0;
    color:#E3EBFF;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    letter-spacing: .4px;
    word-spacing: .5px;
}
body{
    /* background-color: #140c32; */
    background: rgb(20,12,50);
    background: linear-gradient(0deg, rgba(20,12,50,1) 0%, rgba(31,12,50,1) 100%);
}
a{
    text-decoration: none;
    letter-spacing: .4px;
}

.container-80{
    max-width: 80%;
    margin: 0 auto;
}
.container-90{
    max-width: 90%;
    margin: 0 auto;
}
.container-95{
    max-width: 95%;
    margin: 0 auto;
}

#main{
    width: 100%;
    height: 90vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* border: 1px solid green; */
}

#logo{
    z-index: 100;
    width: 40px;
    cursor: pointer;
}
#logo img{
    width: 100%;
}
.mobile-navbar{
    display: none;
}
.navbar{
    z-index: 100;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar > a{
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 14px;
    margin-left: 45px;
}
.navbar a:last-child{
    color: #f23064;
}
.theme-btn{
    color: #f23064;
    border-radius:50px;
    border: 2px solid #f23064;
    background: none;
    padding: 10px 25px;
}
.hero-content{
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
    height: 80%; /* makes it vertically centered*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-content p{
    z-index: 101;
    color: #f23064;
    font-family: 'Cabin';
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
}
.hero-content h1{
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
}
.hero-content h2{
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Cabin';
    text-align: center;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 25px;   
}
.hero-content > a{
    width: 150px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}
/* About Me */
.background{
    width: 100%;
    margin-top: 150px;
    /* background-color: #1B1042; */
}
#about{
    max-width: 1020px;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.section-name{
    position: absolute;
    /* border: 1px solid red; */
    width: 150px;
    display: flex;
    transform: rotate(-90deg);
     /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform-origin: left top 0;
    top: 195px;
    left: -110px;
}
.section-name h1{
    font-size: 13px;
    word-spacing: 4px;
    color: #A4B5E0;
    /* color: #D6CEF3; */
}
.straight-line{
    width: 40px;
    height: .5px;
    margin: 9px 10px 0 10px;
    background: #A4B5E0;
    /* background-color: #D6CEF3; */
}
.about-me{
   
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid blue; */
    text-align: justify;
}
.about-me h1{
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #E3EBFF;
}
.about-me span{
    color: #f23064;
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
    padding-left: 5px;
}
.about-me > p{
    margin-top: 25px;
    color: #A4B5E0;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}
#skills{

    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 30px;
    /* border: 1px solid yellow; */
}
.skills-left{
    width: 45%;
}
.skills-right{
    width: 45%;
}
.skill{
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 10px;
}
.skill i{
    font-size: 14px;
    color: #f23064;
    margin-right: 10px;
    /* border: 1px solid teal; */
}
.skill > p{
    font-family: 'fira Code';
    color: #A4B5E0;
    font-size: 13px;
    /* border: 1px solid green; */
}
.my-picture{
    width: 35%;
    /* border: 1px solid red; */
}
.my-picture img{
    width: 100%;
    display: block;
    /* border: 1px solid yellow; */
}
.about-me .theme-btn{
    margin-top: 40px;
    font-size: 13px;
}
/* End About Me */
/*-- Modal About ---*/

#modal-about{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    top:0;
    left:0;
    z-index: 120;
    display: none;
}
#modal-card{
    max-width: 600px;
    margin: 0 auto;
    height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    background-color: #E3EBFF;
    border-radius: 20px;
    position: relative;
}
.modal-x{
    position: absolute;
    top: 20px;
    right:20px;
    cursor: pointer;
}
.modal-x i{
    font-size: 20px;
    color:#333333;
}
.modal-img{
    width: 25%;
    margin: 20px auto;
    
}
.modal-img img{
    width: 100%;
}
.modal-content{
    width: 80%;
    margin: 0 auto;
    overflow-y:scroll;
    overflow-x:hidden;
}
.modal-content p {
    font-size: 15px;
    color: #535353;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 25px;
    
}
.modal-btn{
    position: absolute;
    top: 10%;
    right: 20px;
    color: #f23064;
    border: 2px solid #f23064;
    background: none;
    border-radius: 50px;
    padding: 7px 20px;
}
/*-- End Modal About ---*/




/* Projects */
#projects{
    width: 70%;
    margin: 0 auto;
    margin-top: 200px;
    padding-top: 100px;
    position: relative;
    /* border: 1px solid red; */
}
#projects > .section-name {
    top: 235px;
}
#projects > h1{
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #E3EBFF;
}
#projects > p{
    margin-top: 25px;
    color:#A4B5E0;
    width: 50%;
    line-height: 25px;
}
#projects-container{
    display: flex;
    flex-direction: column;
}


.project{
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    /* border:1px solid yellow; */
}
/* carousel */
.carousel{
    position: relative;
    height: 400px;
    width: 60%;
    /* border: 1px solid red; */
}
.carousel__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel__track-container{
    position: relative;
    background:none;
    height: 100%;
    overflow: hidden;
}
.carousel__track{
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel__button{
    position: absolute;
    height: 20px;
    top: 40%;
    transform: translateY(40%);
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
    /* border-radius: 50px;
    border: 1px solid red; */
}
.carousel__button i {
    font-size: 20px;
    color: #f23064;
}
.carousel__button--left{
    left: -50px;
}
.carousel__button--right{

    right: -50px;
}
/* End carousel */

.project-content{
    width: 35%;
    /* border: 1px solid red; */
}

.project-content > p{
    color: #f23064;
    font-size: 14px;
    text-align: right;
    display: block;
}
.project:nth-child(even) .project-content > p {
    text-align: left;
}
.project-content > h1{
    margin-top: 8px;
    text-align: right;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 18px;
    color: #E3EBFF;
}
.project:nth-child(even) .project-content > h1{
    text-align: left;

}   
.project-content > h2{
    margin-top:25px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 400;
    float: right;
    padding-left: 25px;
    text-align: right;
    color: #A4B5E0;
}
.project:nth-child(even) .project-content > h2 {
    text-align: left;
    padding:0;
    font-size: 14px;
    padding-right: 25px;
    line-height: 20px;
}
.tech-used{
   margin-top: 40px;
   text-align: right;
   clear: both;
   float: right;
   display: flex;
   justify-content: flex-end;
}
.project:nth-child(even) .tech-used{
    text-align: left;
    float: none;
    justify-content: flex-start;
}
.tech-used p{
    color: rgba(242, 48, 100, .8);
    margin-left: 20px;
    font-weight: 400;
    font-size: 12px;
}
.project:nth-child(even) .tech-used p{
    margin-left: 0;
    margin-right: 20px;
    margin-top: 40px;
}
.project-icons{
    margin-top: 25px;
    clear: both;
    float: right;
}
.project:nth-child(even) .project-icons{
    clear: both;
    float: left;

}
.project-icons > a{
    margin-left: 20px;
    color: #5357F4;
    /* color: #444444; */
    font-size: 20px;
} 
.project:nth-child(even)  .project-icons > a{
    margin-left: 0;
    margin-right: 20px;
}




/* end Projects*/


/* Freelance */
#freelance{
    margin-top: 200px;
    width: 100%;
    position: relative;
}
#freelance img{
    width: 100%;
    display: block;
}
#freelance h1{
    font-family: 'Montserrat';
    font-size: 40px;
    position: absolute;
    width: 100%;
    top: 25%;
    /* border:1px solid yellow; */
    text-align: center;
    color: #e3e3e3;
}
#freelance p{
    width: 100%;
    position: absolute;
    top: 40%;
    color: #e3e3e3;
    text-align: center;
    line-height: 25px;
}
#freelance > div{
    position: absolute;
    top: 65%;
    width: 100%;
    text-align: center;
}
.hire-me{
    margin-top: 25px;
    /* border: 1px solid yellow; */
}
/* End Freelance*/

/*-- Contact --*/
#contact{
    width: 100%;
    background:#0D0821;

}
#contact h1{
    padding-top: 70px;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat';
    width: 100%;
    text-align: center;
}
#contact p:first-of-type{
    margin-top: 35px;
    width: 100%;
    text-align: center;
    color: #fff;
}
#form{
    width: 30%;
    margin: 0 auto;
    margin-top: 60px;
}
#form form{
    display: flex;
    flex-direction: column;
}
.input-field{
    /* background-color: #1F2048; */
    background-color: #1A1042;
    border: none;
    border-bottom: 3px solid #5A5CA6;
    padding: 13px 0;
    font-size: 16px;
    color: #e3e3e3;
    padding-left: 10px;
}

label{
    margin-top: 20px;
    margin-bottom: 20px;
    color:#9C9FC1;
    font-size: 14px;
}
textarea{
    border:none;
    height: 130px;
    border-bottom: 3px solid #5A5CA6;
    background-color: #1A1042;
    font-size: 16px;
    color: #e3e3e3;
    padding-left: 10px;
    padding-top: 10px;
}
input[type=submit]{
    font-size: 14px;
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
    padding: 15px 35px;
    -webkit-appearance: none;
    background-color: #f23064;
    border: none;
    border-radius: 5px;
    color: #f2f2f2;
    cursor: pointer;
}
.social{
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 35px;
}
.social i{    
    color:#9C9FC1;
    font-size: 18px;
}
.divider{
    width: 30%;
    margin: 0 auto;
    background-color:rgba(255,255,255,.4); ;
    height: .5px;
    margin-top: 35px;
}
#copyright {
    color: #e3e3e3;
    font-size: 10px;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
/*-- End Contact --*/

/*--- Demo Pop Up ---*/
.demo-pop-up{
    background-color: #5A5CA6;
    position: fixed;
    top: 50%;
    left: 50%;
    /* centers*/
    transform: translate(-50%, -50%);
    width: 40%;
    height: 150px;
    border-radius: 10px;
    display: none;
}
.demo-pop-up h1{
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #e3e3e3;
    
}
/*--- End Demo Pop Up ---*/

/*--- RESPONSIVE 880px ---*/
@media only screen and (max-width: 880px) {
    p{
        font-size: 14px;
    }
    header{
        width: 90%;
        margin: 0 auto;
    }
    .navbar{
        display: none;
    }
    .mobile-navbar{
       display: block;
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 36px;
        right: 5%;
        z-index: 101;
        /* border: 1px solid yellow; */
        cursor: pointer;
    }
    .menu-icon i{
        font-size: 25px;
        color: #f23064;
    }
    .mobile-items{
        position: fixed;
        top:0;
        right:0;
        height: 100vh;
        background-color: #A4B5E0;
        width: 50%;
        padding-top: 70px;
        z-index: 102;
        display: none;
    }
    #x-icon{
        display: block;
        position: absolute;
        top: 25px;
        right: 7%;
        width: 40px;
        height: 40px;
        cursor: pointer
        
    }
    #x-icon i{
        font-size: 30px;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        color: #333333
    }   
    .mobile-items a{
        display: block;
        width: 80%;
        margin: 0 auto;
        padding: 15px 0;
        margin-bottom: 5px;
        font-size: 16px;
        color: rgba(51, 51, 51, 0.7);
    }
    .mobile-items a:last-child{
        float: left;
        margin-top: 15px;
        margin-left: 30px;
        width: 150px;
        text-align: center;
        background-color: #BDBEDB;
        border-radius: 5px;
        color:#333;
    }
    /* hero content */
 
    #main{
        /* border: 1px solid green; */
        height: 70vh;
    }
    .hero-content{
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .hero-content p{
        font-size: 14px;
        text-align: left;
    }
    .hero-content h1{
        font-size: 40px;
        text-align: left;
        margin-top: 15px;
    }
    .hero-content h2{
        width: 100%;
        font-size: 14px;
        text-align: left;
        color: #A4B5E0;
    }
    .hero-content > .theme-btn {
        border: 1px solid #f23064;
        width: 150px;
        margin: 0;
        margin-top: 30px;
    }
    /* End hero content */

    /* About */
    #about{
       flex-direction: column-reverse;
       /* border: 1px solid red; */
    }
    .my-picture{
        width: 150px;
        margin: 0 auto;
    }
    .about-me{
        width: 100%;
    }
    .about-me h1{
        margin-top: 25px;
    font-size: 20px;
    }
    .section-name{
    /* border: 1px solid red; */
    left: -2.5%;
    }
    #skills{
        width: 100%;
    }
    .modal-img{
        width: 150px;
    }
    .modal-content{
        width: 85%;
    }
    .modal-content > a{
        margin-top: -55px;
        padding: 5px 10px;
    }
    .modal-btn{
        top: 150px;
        padding: 5px 10px;
    }
    /* End About */

    /* Projects */
    #projects{
        margin-top: 150px;
    }
    #projects > .section-name {
        top: 230px;
    }
    #projects > h1{
        font-size: 20px;
        padding-left: 25px;
    }
    #projects > p{
        width: 80%;
        padding-left: 25px;
    }
    .project{
        margin-top: 100px;
        flex-direction: column;
    }
    .carousel{
        width: 100%;
        height: 240px;
    }
    .project-content{
        margin-top: 25px;
        width: 100%;
    }
    .project:nth-child(even) {
        flex-direction: column-reverse;
    }
    /* End Projects */
    /* freelance */
    #freelance h1{
        top: 40px;
        font-size: 30px;
    }
    #freelance p{
        top: 80px;
        /* border: 1px solid yellow; */
        display: block;
        font-size: 14px;
    }
    .hire-me{
        margin-top: 30px;
        /* border: 1px solid yellow; */
    }
    .hire-me a{
        padding: 15px 30px;
    }
    /* Endf freelance */
    /* Contact */
    #contact > h1{
        color: #e3e3e3;
    }
    #contact p:first-of-type{
        width: 60%;
        margin: 0 auto;
        margin-top: 30px;
        line-height: 25px;
        /* border: 1px solid yellow; */
    }
    #form{
        width: 80%;
    }
    /* End Contact */
    /* popUp */
    .demo-pop-up{
        width: 60%;
    }
    .demo-pop-up h1{
        font-size: 20px;
        line-height: 25px;
    }
    /* End popUp */

  }
  @media only screen and (max-width: 660px) {
    /*  freelance  */
    #freelance img{
        height: 250px;
    }
    #freelance h1{
        top: 40px;
        font-size: 25px;
    }
    #freelance p{
        top: 90px;
        /* border: 1px solid yellow; */
        line-height: 20px;
        font-size: 12px;
    }
    .hire-me{
        margin-top:10px;
        /* border: 1px solid yellow; */
    }
    .hire-me a{
        padding: 10px 30px;
    }
    /* End freelance  */
    /* popUp */
    .demo-pop-up{
        width: 80%;
    }
    .demo-pop-up h1{
        font-size: 15px;
        padding: 10px;
        line-height: 25px;
    }
    /* End popUp */
  }
  @media only screen and (max-width: 390px) {
    /*  freelance  */

    #freelance h1{
        font-size: 18px;
    }
    #freelance p{
        padding: 0 20%;

        /* border: 1px solid yellow; */
    }
    .hire-me{
        margin-top:30px;
        /* border: 1px solid yellow; */
    }
    .hire-me a{
        padding: 10px 30px;
    }
    /* End freelance  */
  }
  /*-- Scroll to Top ---*/
.to-top{
    z-index: 105;
    width: 50px;
    height: 50px;
    background-color: #E3EBFF;
    position: fixed;
    border-radius: 10px;
    bottom: 5%;
    right: 2.5%;

}
.to-top i {
    color:#828282;
    cursor: pointer;
    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 880px) {
    .to-top{
        right: 5%;
    }
}
/*-- End Scroll to Top ---*/ 

/*- Menu Icon -*/
.menu-icon{
    /* border: 1px solid blue; */
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#first-line-menu{
    width: 100%;
    height: 2px;
    background: #f23064;
}
#second-line-menu{
    width: 70%;
    height: 2px;
    background: #f23064;
}
#third-line-menu{
    width: 100%;
    height: 2px;
    background: #f23064;
}
/*- Menu Icon -*/